---
title: About
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/en/">Home</a>
  /
  <span class="breadcrumb-item active"><%= current_page.data.title %></span>
</nav>

<section class="screen">
  <h1 class="center"><%= current_page.data.title %></h1>

  <div class="text">
    <p>The goal of this website is to present the Goelo as a <a href="https://en.wikipedia.org/wiki/Biogeography">biogeographic</a> area to better understand and protect its environment.</p>

    <p>The project started in December 2016, it is a work in progress.</p>

    <p>The content of this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a> and published on <a href="https://github.com/vinc/goelo.eu/">GitHub</a>.
  </div>

  <div class="text">
    <p>Back to the <a href="/en/">main page</a></p>
  </div>
</section>
