---
title: Conservation
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/en/">Home</a>
  /
  <span class="breadcrumb-item active"><%= current_page.data.title %></span>
</nav>

<section class="screen">
  <h1 class="center"><%= current_page.data.title %></h1>

  <div id="natura2000" class="text">
    <h2>Natura 2000</h2>
    <div class="media-float-left">
      <img src="/images/goelo-sic.png" alt="Natural 2000 zones of Goelo" />
    </div>
    <div class="media-body">
      <p>
        A Site of Community Importance (SCI) is defined in the European
        Commission Habitats Directive (92/43/EEC) as a site which, in the
        biogeographical region or regions to which it belongs, contributes
        significantly to the maintenance or restoration at a favourable
        conservation status of a natural habitat type or of a species and may
        also contribute significantly to the coherence of Natura 2000, and/or
        contributes significantly to the maintenance of biological diversity
        within the biogeographic region or regions concerned. (<a href="https://en.wikipedia.org/wiki/Site_of_Community_Importance">Wikipedia</a>)
      </p>
      <p>Surface: 3.15 % of the land</p>
    </div>
  </div>

  <div id="znieff1" class="text">
    <h2>ZNIEFF type I</h2>
    <div class="media-float-left">
      <img src="/images/goelo-znieff1.png" alt="ZNIEFF type I zones of Goelo" />
    </div>
    <div class="media-body">
      <p>
        The ZNIEFF type I zones, of a small area, are consistent from an
        ecological point of view and areas that have at least one species
        and/or rare or threatened habitat, interest both local and regional,
        national or communal; or these are areas of great functional interest
        to the local ecological functioning. (<a href="https://en.wikipedia.org/wiki/Zone_naturelle_d%27int%C3%A9r%C3%AAt_%C3%A9cologique,_faunistique_et_floristique">Wikipedia</a>)
      </p>
      <p>Surface: 2.45 % of the land</p>
    </div>
  </div>

  <div id="znieff2" class="text">
    <h2>ZNIEFF type II</h2>
    <div class="media-float-left">
      <img src="/images/goelo-znieff2.png" alt="ZNIEFF type II zones of Goelo" />
    </div>
    <div class="media-body">
      <p>
        The ZNIEFF type II zones have great rich natural interest, or slightly
        modified, which offer important biological potential. They may include
        areas of type I and have a functional as well as ecological and
        countryside consistency role. (<a href="https://en.wikipedia.org/wiki/Zone_naturelle_d%27int%C3%A9r%C3%AAt_%C3%A9cologique,_faunistique_et_floristique">Wikipedia</a>)
      </p>
      <p>Surface: 4.36 % of the land</p>
    </div>
  </div>

  <div id="cdl" class="text">
    <h2>Conservatoire du Littoral</h2>
    <div class="media-float-left">
      <img src="/images/goelo-cdl.png" alt="Conservatoire du Littoral" />
    </div>
    <div class="media-body">
      <p>1.35 % of the land is owned by Conservatoire du Littoral</p>
    </div>
  </div>

  <div class="text">
    <p>Back to the <a href="/en/">main page</a></p>
  </div>
</section>
