---
title: Data
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/en/">Home</a>
  /
  <span class="breadcrumb-item active"><%= current_page.data.title %></span>
</nav>

<section class="screen">
  <h1 class="center"><%= current_page.data.title %></h1>

  <div class="text">
    <p>Sources used on this website:</p>
    <ul>
      <li>Agence BIO (2015). <a href="http://www.agencebio.org/la-bio-dans-les-regions">La bio dans les territoires</a></li>
      <li>Agreste (2015). <a href="http://agreste.agriculture.gouv.fr/IMG/pdf/R5316A02.pdf">Tableaux de l'agriculture bretonne</a></li>
      <li>DRAAF Bretagne (2010). <a href="http://draaf.bretagne.agriculture.gouv.fr/IMG/pdf/Aviculture_2013_cle044259.pdf">Résultats du Recensement Agricole 2010</a></li>
      <li>FAO (2015). <a href="http://www.fao.org/faostat/en/">FAOSTAT</a></li>
      <li>INSEE (2013). <a href="https://www.insee.fr/fr/statistiques/2387611?sommaire=2119504">Populations légales 2013</a></li>
      <li>Sandre (2014). <a href="https://www.data.gouv.fr/en/datasets/bd-carthage-onm/">BD Carthage</a></li>
      <li><a href="http://www2.jpl.nasa.gov/srtm/">Shuttle Radar Topography Mission</a></li>
      <li><a href="http://worldclim.org/">WorldClim 2005</a></li>
    </ul>
  </div>

  <div class="text">
    <p>Back to the <a href="/en/">main page</a></p>
  </div>
</section>
