---
title: Climate
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  /
  <span class="breadcrumb-item active"><%= current_page.data.title %></span>
</nav>

<section class="screen">
  <h1 class="center"><%= current_page.data.title %></h1>

  <div id="temperature" class="text">
    <h2>Annual Temperature</h2>
    <div class="media-float-left">
      <img src="/images/goelo-climate-annual-mean-temperature.png" alt="Annual mean temperature of Goelo" />
    </div>
    <div class="media-body">
      <p>
        The annual mean temperature
        of the Goelo is 11.0 °C (<a href="http://worldclim.org/">WorldClim 2005</a>).
      </p>
      <p>
        The north is usually about a degree Celsius warmer than the south.
      </p>
    </div>
  </div>

  <div id="warmest-month" class="text">
    <h2>Warmest Month</h2>
    <div class="media-float-left">
      <img src="/images/goelo-climate-warmest-month.png" alt="Warmest month of Goelo" />
    </div>
    <div class="media-body">
      <p>
        In average the maximum temperature of the warmest month is 20.8 °C
        (<a href="http://worldclim.org/">WorldClim 2005</a>).
      </p>
      <p>
        In summer the coast is slightly warmer with a maximum of 21.4 °C
        while the south, deeper inland and higher up, only reaches 20.1 °C.
      </p>
    </div>
  </div>

  <div id="coldest-month" class="text">
    <h2>Coldest Month</h2>
    <div class="media-float-left">
      <img src="/images/goelo-climate-coldest-month.png" alt="Coldest month of Goelo" />
    </div>
    <div class="media-body">
      <p>
        In average the minimum temperature of the coldest month is 2.7 °C
        (<a href="http://worldclim.org/">WorldClim 2005</a>).
      </p>
      <p>
        In winter there is a slight divide between the north and the south
        where the minimum temperature are 3.3 and 1.9 °C respectively.
      </p>
    </div>
  </div>

  <div id="precipitation" class="text">
    <h2>Annual Precipitation</h2>
    <div class="media-float-left">
      <img src="/images/goelo-climate-annual-precipitation.png" alt="Annual precipitation of Goelo" />
    </div>
    <div class="media-body">
      <p>
        The region receives in average 835 mm of precipitation every year
        (<a href="http://worldclim.org/">WorldClim 2005</a>).
      </p>
    </div>
  </div>

  <div id="wettest-month" class="text">
    <h2>Wettest Month</h2>
    <div class="media-float-left">
      <img src="/images/goelo-climate-wettest-month.png" alt="Wettest month of Goelo" />
    </div>
    <div class="media-body">
      <p>
        In average the wettest month receive 102 mm of precipitation
        (<a href="http://worldclim.org/">WorldClim 2005</a>).
      </p>
      <p>
        The some parts of the coast receive slightly less rain than the rest
        of the region with with 94 and 111 mm at both extreme.
      </p>
    </div>
  </div>

  <div id="driest-month" class="text">
    <h2>Driest Month</h2>
    <div class="media-float-left">
      <img src="/images/goelo-climate-driest-month.png" alt="Driest month of Goelo" />
    </div>
    <div class="media-body">
      <p>
        In average the driest month receive 42 mm of precipitation
        (<a href="http://worldclim.org/">WorldClim 2005</a>).
      </p>
      <p>
        The north receive less rain than the south during the driest month,
        with 37 and 47 mm respectively at both extreme.
      </p>
    </div>
  </div>

  <div class="text">
    <p>Back to the <a href="/">main page</a></p>
  </div>
</section>
