---
title: Côtes d'Armor
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  /
  <span class="breadcrumb-item active">Côtes d'Armor</span>
</nav>

<section class="screen">
  <h1 class="center">Côtes d'Armor</h1>

  <div id="description" class="text">
    <h2>Description</h2>
    <p>
      Côtes d'Armor is a department in the north of Brittany.
    </p>
    <div class="media-right media-full">
      <img src="/images/brittany-cotes-armor.png" alt="Côtes d'Armor in Goelo" />
    </div>
    <p>
      The department has a surface of 6 878 square kilometers
      for 597 085 inhabitants<sup><a href="#ref-1">[1]</a></sup>, thus a population
      density of 87 per square kilometers.
    </p>

    <p>
      More than 30 millions animals are also living in farms of the department.
    </p>
  </div>

  <div id="agriculture" class="text">
    <h2>Agriculture</h2>
    <p>
      About 63 percent (438 314 ha) of the land is used by agriculture<sup><a href="#ref-2">[2]</a></sup>,
      of which 3.66 percent is certified organic<sup><a href="#ref-3">[3]</a></sup>.
    </p>

    <h3>Crop Cultivation</h3>

    <table>
      <caption>Cereals production including seeds<sup><a href="#ref-2">[2]</a></sup></caption>
      <tr>
        <th>type</th>
        <th>tonnes</th>
      </tr>
      <tr>
        <td>wheat</td>
        <td>686 800</td>
      </tr>
      <tr>
        <td>maize</td>
        <td>304 400</td>
      </tr>
      <tr>
        <td>barley</td>
        <td>184 900</td>
      </tr>
      <tr>
        <td>triticale</td>
        <td>82 400</td>
      </tr>
      <tr>
        <td>oat</td>
        <td>24 200</td>
      </tr>
    </table>

    <table>
      <caption>Cereals harvest<sup><a href="#ref-2">[2]</a></sup></caption>
      <tr>
        <th>type</th>
        <th>tonnes</th>
      </tr>
      <tr>
        <td>wheat</td>
        <td>561 820</td>
      </tr>
      <tr>
        <td>maize</td>
        <td>170 300</td>
      </tr>
      <tr>
        <td>barley</td>
        <td>138 520</td>
      </tr>
      <tr>
        <td>buckwheat and triticale</td>
        <td>52 750</td>
      </tr>
      <tr>
        <td>oat</td>
        <td>20 530</td>
      </tr>
    </table>

    <table>
      <caption>Legumes and potatoes production<sup><a href="#ref-2">[2]</a></sup></caption>
      <tr>
        <th>type</th>
        <th>tonnes</th>
      </tr>
      <tr>
        <td>artichoke</td>
        <td>8 100</td>
      </tr>
      <tr>
        <td>cauliflower</td>
        <td>7 200</td>
      </tr>
      <tr>
        <td>spinach</td>
        <td>11 300</td>
      </tr>
      <tr>
        <td>other cabbage</td>
        <td>2 500</td>
      </tr>
      <tr>
        <td>leek</td>
        <td>900</td>
      </tr>
      <tr>
        <td>tomato (in greenhouse)</td>
        <td>51 200</td>
      </tr>
      <tr>
        <td>carrot</td>
        <td>3 700</td>
      </tr>
      <tr>
        <td>pea</td>
        <td>8 000</td>
      </tr>
      <tr>
        <td>dry bean</td>
        <td>8 800</td>
      </tr>
      <tr>
        <td>green bean</td>
        <td>15 000</td>
      </tr>
      <tr>
        <td>potato</td>
        <td>31 700</td>
      </tr>
    </table>

    <table>
      <caption>Oilseeds and protein crops production<sup><a href="#ref-2">[2]</a></sup></caption>
      <tr>
        <th>type</th>
        <th>tonnes</th>
      </tr>
      <tr>
        <td>rapeseed</td>
        <td>40 700</td>
      </tr>
      <tr>
        <td>sunflower</td>
        <td>100</td>
      </tr>
      <tr>
        <td>broad bean</td>
        <td>2 000</td>
      </tr>
      <tr>
        <td>field pea</td>
        <td>3 600</td>
      </tr>
      <tr>
        <td>lupin</td>
        <td>100</td>
      </tr>
    </table>

    <table>
      <caption>Forage production<sup><a href="#ref-2">[2]</a></sup></caption>
      <tr>
        <th>type</th>
        <th>tonnes</th>
      </tr>
      <tr>
        <td>maize for forage</td>
        <td>1 287 800</td>
      </tr>
      <tr>
        <td>other crop for forage</td>
        <td>53 000</td>
      </tr>
      <tr>
        <td>temporary pasture</td>
        <td>1 160 000</td>
      </tr>
      <tr>
        <td>permanent pasture</td>
        <td>261 000</td>
      </tr>
    </table>

    <h3>Livestock Production</h3>

    <table>
      <caption>Animals population</caption>
      <tr>
        <th>type</th>
        <th>heads</th>
        <th>certified organic</th>
      </tr>
      <tr>
        <td>broiler chickens<sup><a href="#ref-2">[2]</a></sup><sup><a href="#ref-3">[3]</a></sup></td>
        <td>13 047 000</td>
        <td>42 920</td>
      </tr>
      <tr>
        <td>egg-laying hens<sup><a href="#ref-2">[2]</a></sup><sup><a href="#ref-3">[3]</a></sup></td>
        <td>12 545 000</td>
        <td>703 729</td>
      </tr>
      <tr>
        <td>turkeys<sup><a href="#ref-2">[2]</a></sup></td>
        <td>2 470 000</td>
        <td></td>
      </tr>
      <tr>
        <td>pigs<sup><a href="#ref-2">[2]</a></sup></td>
        <td>2 451 880</td>
        <td></td>
      </tr>
      <tr>
        <td>total cattle<sup><a href="#ref-2">[2]</a></sup></td>
        <td>529 968</td>
        <td></td>
      </tr>
      <tr>
        <td>dairy cattle<sup><a href="#ref-2">[2]</a></sup><sup><a href="#ref-3">[3]</a></sup></td>
        <td>189 393</td>
        <td>4 669</td>
      </tr>
    </table>

    <table>
      <caption>Meat and dairy produced<sup><a href="#ref-2">[2]</a></sup></caption>
      <tr>
        <th>type</th>
        <th>tonnes</th>
        <th>heads</th>
      </tr>
      <tr>
        <td>milk</td>
        <td>1 358 217</td>
        <td></td>
      </tr>
      <tr>
        <td>beef</td>
        <td>29 004</td>
        <td>82 739</td>
      </tr>
      <tr>
        <td>veal</td>
        <td>11 030</td>
        <td>81 162</td>
      </tr>
      <tr>
        <td>pork</td>
        <td>410 938</td>
        <td>4 515 940</td>
      </tr>
    </table>

    <h3>Summary</h3>

    <table>
      <caption>Food produced per inhabitant per year</caption>
      <tr>
        <th>type</th>
        <th>kilograms</th>
      </tr>
      <tr>
        <td>pork</td>
        <td>688</td>
      </tr>
      <tr>
        <td>beef</td>
        <td>49</td>
      </tr>
      <tr>
        <td>veal</td>
        <td>18</td>
      </tr>
      <tr>
        <td>cow milk</td>
        <td>2 275</td>
      </tr>
      <tr>
        <td>cereals</td>
        <td>1 581</td>
      </tr>
      <tr>
        <td>potatoes</td>
        <td>53</td>
      </tr>
      <tr>
        <td>carrots</td>
        <td>6</td>
      </tr>
      <tr>
        <td>cabbages</td>
        <td>150</td>
      </tr>
      <tr>
        <td>beans</td>
        <td>40</td>
      </tr>
      <tr>
        <td>artichokes</td>
        <td>14</td>
      </tr>
      <tr>
        <td>peas</td>
        <td>13</td>
      </tr>
      <tr>
        <td>leeks</td>
        <td>2</td>
      </tr>
      <tr>
        <td>tomatoes (in greenhouses)</td>
        <td>86</td>
      </tr>
      <tr>
        <td>rapeseed</td>
        <td>68</td>
      </tr>
      <tr>
        <td>maize (for forage)</td>
        <td>2 157</td>
      </tr>
    </table>

    <p>
      In 2015 the department produced 755 kg of meat from mammals per
      inhabitant, while the average meat consumption in industrial nations
      is 96 kg per person per year<sup><a href="#ref-5">[5]</a></sup>.
      As a result, most of it is exported to the rest of France, or Europe,
      or even globally.
    </p>
    <p>
      It also produces 2 275 litres of cow milk while the average fresh milk
      equivalent of dairy consumed (excluding butter) in industrial nations
      is 217 litres<sup><a href="#ref-5">[5]</a></sup>.
    </p>
    <p>
      Similarly 1 581 kg of cereals has been harvested per inhabitant,
      while the average in industrial nations is 630 kg per person per
      year<sup><a href="#ref-5">[5]</a></sup>.
    </p>
    <p>
      And an extra 2 157 kg of maize per inhabitant is produced locally for
      forage for the animal in the farms, along with large quantities of
      imported food products like soy.
    </p>
  </div>

  <div id="references" class="text">
    <h2>References</h2>

    <ol>
      <li id="ref-1">
        INSEE (2013).
        <a href="https://www.insee.fr/fr/statistiques/2387611?sommaire=2119504">Populations légales 2013</a>
      </li>
      <li id="ref-2">
        Agreste (2015).
        <a href="http://agreste.agriculture.gouv.fr/IMG/pdf/R5316A02.pdf">Tableaux de l'agriculture bretonne</a>
      </li>
      <li id="ref-3">
        Agence BIO (2015).
        <a href="http://www.agencebio.org/la-bio-dans-les-regions">La bio dans les territoires</a>
      </li>
      <li id="ref-4">
        DRAAF Bretagne (2010).
        <a href="http://draaf.bretagne.agriculture.gouv.fr/IMG/pdf/Aviculture_2013_cle044259.pdf">Résultats du Recensement Agricole 2010</a>
      </li>
      <li id="ref-5">
        FAO (2015).
        <a href="http://www.fao.org/faostat/en/">FAOSTAT</a>
      </li>
    </ol>
  </div>

  <div class="text">
    <p>Back to the <a href="/">main page</a></p>
  </div>
</section>
