---
title: Rivers
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  /
  <span class="breadcrumb-item active"><%= current_page.data.title %></span>
</nav>

<section class="screen">
  <h1 class="center"><%= current_page.data.title %></h1>

  <div class="text">
    <div class="media-float-left">
      <img src="/images/goelo-rivers.png" alt="Rivers of Goelo" />
    </div>
    <div class="media-body">
      <p>
        The Goelo is a coastal region of the Atlantic sea delimited by three
        rivers.
      </p>
      <p>
        The <a href="http://services.sandre.eaufrance.fr/Courdo/Fiche/client/fiche_courdo.php?CdSandre=J1--0170">Trieux</a> river in the north and
        the <a href="http://services.sandre.eaufrance.fr/Courdo/Fiche/client/fiche_courdo.php?CdSandre=J15-0300">Gouet</a> in the south reach the
        sea, while the <a href="http://services.sandre.eaufrance.fr/Courdo/Fiche/client/fiche_courdo.php?CdSandre=J18-0300">Leff</a> forming the east
        side of the region ends its course in the Trieux.
      </p>
      <p>
        The three rivers begin in the
        <a href="/topology.html">Quintin massif</a>.
      </p>
    </div>
  </div>

  <div class="text">
    <h2>Lengths</h2>
    <table>
      <tr>
        <th>river</th>
        <th>length (km)</th>
      </tr>
      <tr>
        <td>Trieux</td>
        <td>72.1</td>
      </tr>
      <tr>
        <td>Leff</td>
        <td>62.3</td>
      </tr>
      <tr>
        <td>Gouet</td>
        <td>46.6</td>
      </tr>
    </table>
    <p>Source: Sandre (2014). <a href="https://www.data.gouv.fr/en/datasets/bd-carthage-onm/">BD Carthage</a></p>
  </div>

  <div class="text">
    <p>Back to the <a href="/">main page</a></p>
  </div>
</section>
