---
title: Topology
---

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  /
  <span class="breadcrumb-item active"><%= current_page.data.title %></span>
</nav>

<section class="screen">
  <h1 class="center"><%= current_page.data.title %></h1>

  <div id="topology" class="text">
    <div class="media-float-left">
      <img src="/images/goelo-srtm.png" />
    </div>
    <div class="media-body">
      <p>
        The Goelo has a mean altitude of 99 meters.
      </p>
      <p>
        The southeast is more elevated due to the presence of the Quintin massif,
        with some hills reaching an altitude of 250 meters on the communes of
        <a href="/communes/cohiniac.html">Cohiniac</a> and
        <a href="/communes/le-foeil.html">Le Fœil</a> near the source of
        the <a href="/rivers.html#leff">Leff</a> river.
      </p>
    </div>

    <p>Source: <a href="http://www2.jpl.nasa.gov/srtm/">Shuttle Radar Topography Mission</a></p>
  </div>

  <div class="text">
    <p>Back to the <a href="/">main page</a></p>
  </div>
</section>
